
.kanbanHeading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: sans-serif;
}

.kanbanHeadingText {
  font-size: 1.8rem;
  background-color: #BF7B54;
  padding: 0.8rem 1.7rem;
  border-radius: 0.5rem;
  margin: 1rem;
}
